*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* hero */
.hero-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.hero-caption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0,0,0,0.45);
    padding: 20px 30px;
    width: 100%;
    height: 100%;
}
.hero-caption h4 {
    font-size: clamp(14px, 3vw, 16px);
}

.hero-caption h1 {
    font-size: clamp(22px, 6vw, 48px);
}

.hero-caption p {
    font-size: clamp(12px, 4vw, 18px);
}

/* categories */
.categories-scroll {
    overflow-x: auto;
    scrollbar-width: none;
}

.category-card:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

@media (max-width: 580px) {
    .hero-img {
        height: 350px;
    }
}

.product-card {
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.img-container {
    height: 220px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.categories-scroll a {
    flex: 0 0 auto;
}
