/* navbar */
.navbar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .nav-link {
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: #000;
}

.logo {
  font-family: "Comfortaa", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}
a{
  text-decoration: none;
}

/* footer */
footer a {
  color: #fff;
  transition: 0.3s;
}

footer a:hover {
  color: #ffc107 !important;
}